<div class="container">
  <div class="row">
    <div class="col">
      <h2>カート商品</h2>
      <%#= link_to "カート内を空にする", cart_items_path.destroy_all, method: :delete,
                  "data-confirm" => "本当に空にしますか？"%>
    </div>
    
    <div class="row">
      <div class="col">
        
      </div>
    </div>
  </div>
</div>